@import './assets/fonts/poppins.css';
@import './assets/fonts/nunito.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @font-face {
      font-family: 'Poppins';
      src:
        url('./assets/fonts/Poppins-Variable.woff2') format('woff2'),
        url('./assets/fonts/Poppins-Variable.woff') format('woff'),
        url('./assets/fonts/Poppins-Variable.ttf') format('truetype');
      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
    }
  }
}
